@model IEnumerable<MVC.ViewModels.OrderVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    @Html.TextBox("query")
    <input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Book")
        </th>
        <th>
            @Html.DisplayName("Buyer")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
